.card {
  background-color: rgb(92, 92, 92);
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  align-items: center;
  height: 100px;
}

.card-header {
  max-width: 250px;
}

.card-img {
  max-height: 100%;
  max-width: 100px;
  margin-right: 100px;
}

.card-item {
  text-align: center;
  /* max-width: 200px; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-user {
  text-align: right;
}

.button-block {
  text-align: right;
}

.card-button {
  background-color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.1s;
}

.card-button:hover {
  background-color: rgb(75, 168, 80);
  color: white;
  transition: 0.1s;
}
